@page "{id}"
@model DrawClient.Pages.Instructor.Exam.ListModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutInstructor";
    var token = HttpContext.Session.GetString("instructToken");
    if (string.IsNullOrEmpty(token))
    {
        <script type="text/javascript">
            window.location.href = "/Instructor/Index?handler=Logout";
        </script>
        return;
    }
}

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        <h3 class="mb-5">Lesson @Model.Lesson.Title</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>Result</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Exams)
                {
                    <tr>
                        <td>
                            <img src="@item.AnswerUrl" width="50" height="50">
                        </td>
                        <td>@(item.Result is null ? "Not yet grading" : item.Result)</td>
                        <td>@(item.Comment is null ? "" : item.Comment)</td>
                        @if (item.Result is null)
                        {
                            <td>
                                <a class="btn btn-outline-secondary" asp-page="/Instructor/Exam/Details" asp-route-id="@item.Id">Grade</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-outline-secondary" asp-page="/Instructor/Exam/Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        }
                    </tr>
                }

                @if (Model.Exams.Count == 0)
                {
                    <tr>
                        <td colspan="4">
                            <h5>No exam submit found.</h5>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>