@page
@model DrawClient.Pages.Customer.Certificate.ListModel

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(/images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Your Certificates</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/Customer/Certificate/List">Certificates</a></li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<section id="event-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            @foreach (var cert in Model.Certificates.Items)
            {
                <div class="col-lg-6">
                    <div class="singel-event-list mt-30">
                        <div class="event-thum">
                            <img src="@cert.Course.ThumbUrl" alt="Event">
                        </div>
                        <div class="event-cont">
                            <span><i class="fa fa-calendar"></i> @cert.ReceiveAt.ToString("dd/MM/yyyy")</span>
                            <a asp-page="Detail" asp-route-id="@cert.Course.Id">
                                <h4>@cert.Course.Name</h4>
                            </a>
                            <span class="pb-2"><b style="color: black;">Level:</b> @cert.Course.Level</span>
                            <span><b style="color: black;">Material:</b> @cert.Course.Material</span>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</section>