@page "{id}"
@model DrawClient.Pages.Instructor.Course.DetailsModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutInstructor";
    var vndFormat = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var token = HttpContext.Session.GetString("instructToken");
    if (string.IsNullOrEmpty(token))
    {
        <script type="text/javascript">
            window.location.href = "/Instructor/Index?handler=Logout";
        </script>
        return;
    }
}

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        <div class="row">
            <!-- Course Header Section -->
            <h2 class="mb-5 col-md-8">Edit course</h2>
            <div class="col-md-4 footer action mx-auto">
                <a class="btn btn-outline-dark" asp-page="/Instructor/Course/Update" asp-route-id="@Model.Course.Id">Edit</a>
                <a class="btn btn-outline-primary" asp-page="/Instructor/Course/Index">Back</a>
            </div>
        </div>
        <!-- Course Body Section -->
        <div class="create-section">
            <form method="post" class="row">
                <div class="col-md-6">
                    <div class="form-container w-75">
                        <h5 class="form-label mb-2">Course title</h5>
                        <input class="form-control" type="text" placeholder="Course title here..." asp-for="@Model.Course.Name" readonly />
                    </div>
                    <div class="form-container w-75">
                        <h5 class="form-label my-2">Description</h5>
                        <textarea class="form-control mb-2" type="text" asp-for="@Model.Course.Description"
                                  placeholder="Course description goes here..." rows="8" readonly>
                        </textarea>
                    </div>
                    <div class="form-container w-75">
                        <h5 class="form-label">Image</h5>
                        @if (Model.Course.ThumbUrl is not null)
                        {
                            <img src="@Model.Course.ThumbUrl" />
                        }
                        else
                        {
                            <img src="https://dummyimage.com/600x400/000/fff&text=no+image" />
                        }
                    </div>
                </div>
                <!-- Course Category Section -->
                <div class="col-md-6 category-option">
                    <h4>Category options</h4>
                    <div class="card w-75 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <div class="card-body">
                            <div class="form-container">
                                <h5 class="form-label mb-2">Price</h5>
                                <input class="form-control" type="text" value="@string.Format(vndFormat, "{0:c}", Model.Course.OriginalPrice)" readonly />
                            </div>
                            <div class="form-container">
                                <h5 class="form-label mb-2">Discount Price</h5>
                                <input class="form-control" type="text" value="@string.Format(vndFormat, "{0:c}", Model.Course.DiscountPrice)" readonly />
                            </div>
                            <div class="form-container">
                                <h5 class="form-label mb-2">Level</h5>
                                <input class="form-control" type="text" aria-label="Default select example" asp-for="@Model.Course.Level" readonly />
                            </div>
                            <div class="form-container">
                                <h5 class="form-label mb-2">Material</h5>
                                <input class="form-control" type="text" aria-label="Default select example" asp-for="@Model.Course.Material" readonly />
                            </div>
                            <div class="form-container">
                                <h5 class="form-label mb-2">Topic</h5>
                                <input class="form-control" type="text" aria-label="Default select example" asp-for="@Model.Course.Topic.Name" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <hr />

            <div class="lesson-container">
                <div class="row my-4">
                    <!-- Lesson Header Section -->
                    <h3 class="col-8">Lessons</h3>
                    <div class="col-4 mx-auto">
                        <button class="btn btn-outline-secondary">Add Lesson</button>
                    </div>
                </div>
                <div class="lesson-body">
                    <!-- Lesson content Section -->
                    <div class="lesson-content row">
                        @foreach (var item in Model.Lesson.Items)
                        {
                            <div class="card col-5 mr-5 mb-4">
                                <div class="card-header">
                                    <div class="row">
                                        <h5 class="col-8">@item.Title</h5>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item ml-2">@item.Content</li>
                                    @if (item.VideoUrl is not null)
                                    {
                                        @if (item.VideoUrl.Contains("youtube.com"))
                                        {
                                            <div class="ibox-content">
                                                <div class="video-container">
                                                    <iframe src="@item.VideoUrl"></iframe>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <li class="list-group-item ml-2">
                                                <video width="400" controls>
                                                    <source src="@item.VideoUrl" type="video/mp4">
                                                </video>
                                            </li>
                                        }
                                    }
                                    @if (item.IsExam)
                                    {
                                        <li class="list-group-item ml-2 text-danger">Exam</li>
                                        <li class="list-group-item ml-2 text-right">
                                            <a class="btn btn-outline-secondary" asp-page="/Instructor/Exam/List" asp-route-id="@item.Id">View Results</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                        @{
                            var currentPageIndex = Model.Lesson.PageIndex + 1;
                            var previous = Model.Lesson.Previous;
                            var next = Model.Lesson.Next;
                            var totalPage = Model.Lesson.TotalPagesCount;
                        }

                        <div class="col-12 footer-section pagination text-center mt-5 d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item @(!previous ? "disabled" : "")">
                                        <a class="page-link" asp-page="Update" asp-route-id="@Model.Course.Id" asp-route-pageIndex="@(currentPageIndex-2)" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link">@currentPageIndex</a>
                                        <span class="sr-only">(current)</span>
                                    </li>
                                    @if (totalPage >= currentPageIndex + 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="/Instructor/Course/Update/@Model.Course.Id?pageIndex=@(currentPageIndex)">@(currentPageIndex + 1)</a></li>
                                    }
                                    @if (totalPage >= currentPageIndex + 2)
                                    {
                                        <li class="page-item"><a class="page-link" href="/Instructor/Course/Update/@Model.Course.Id?pageIndex=@(currentPageIndex+1)">@(currentPageIndex + 2)</a></li>
                                    }
                                    <li class="page-item @(!next ? "disabled" : "")">
                                        <a class="page-link" asp-page="Update" asp-route-id="@Model.Course.Id" asp-route-pageIndex="@(currentPageIndex)">Next</a>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
