@page
@model DrawClient.Pages.Admin.Customer.DetailModel
@{
    Layout = "_LayoutAdmin";
}
<partial name="_Notification" />
<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="d-flex justify-content-around mt-5">
        <div class="border col-md-3">
            <div class="tbl-exam p-3">
                <h2 class="tbl-exam">Learner Info</h2>
            </div>
            <div class="m-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Name:</dt>
                            <dd class="col-sm-9">@(Model.Learner.Information == null || Model.Learner.Information.Name == null ? "No data" : Model.Learner.Information.Name)</dd>
                            <dt class="col-sm-3">Phone:</dt>
                            <dd class="col-sm-9">@(Model.Learner.Information == null || Model.Learner.Information.Phone == null ? "No data" : Model.Learner.Information.Phone)</dd>
                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">@(Model.Learner.Information == null || Model.Learner.Information.Email == null ? "No data" : Model.Learner.Information.Email)</dd>

                        </dl>
                        <div class="row justify-content-around">
                            <a asp-page="/Admin/Customer/Block" asp-route-id="@Model.Learner.Id" class="btn btn-danger">@(Model.Learner.Information.IsBlocked ? "Unblock" : "Block")</a>
                            @*<a asp-page="/Admin/Customer/Update" asp-route-id="@Model.Learner.Id" class="btn btn-secondary">Update</a>*@
                        </div>

                    </div>

                </div>
                <a href="@Url.Content("~/Admin/Customer/List")" class="btn tbl-exam" style="float: right; margin: 20px 60px 20px 00px">Back to learner list</a>
            </div>
        </div>


        <div class="col-md-8 border">
            <div class="tbl-exam p-3 text-white ">
                <h2 class="tbl-exam">Order history</h2>
            </div>


            <div class="row">
                
                    <div class="" style="width:inherit">
                        @if (Model.orders == null || Model.orders.Count() == 0)
                        {
                            <h3 class="draw-header">No Data</h3>
                        }

                        else
                        {
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="tbl-exam">
                                        <th style="width: 280px;">ID</th>
                                        <th style="width: 280px;">Order Date</th>
                                        <th style="width: 150px;">Total</th>
                                        @*<th style="width: 300px;">Email</th>*@
                                        <th style="text-align: center;">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model.orders)
                                    {
                                        <tr>
                                            <td style="vertical-align: middle;">@obj.Id</td>
                                            <td style="vertical-align: middle;">@(obj.OrderDate == null ? "No data" : obj.OrderDate.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                            <td style="vertical-align: middle;">@(obj.OrderDate == null ? "No data" : obj.OrderDate.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                            <td class="text-center">
                                                <a class="btn btn-dark" asp-page="/Admin/Customer/Detail" asp-route-id="@obj.Id">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div> <!-- singel course -->

                 <!-- row -->
            </div>
            </>
        </div>
    </div>
</section>