@page
@model DrawClient.Pages.Customer.CartModel

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>@(Model.Details != null ? Model.Details.Count : 0)</strong>) items</span>
                            <h5>Items in your cart</h5>
                        </div>
                        @if (Model.Details != null)
                        {
                            @foreach (var detail in Model.Details)
                            {
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table shoping-cart-table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="image" style="width: 90px; height: 90px; overflow: hidden;">
                                                            <img src="@(detail.Course.ThumbUrl ?? "https://dummyimage.com/600x400/000/fff&text=no+image")" alt="Course">
                                                        </div>
                                                    </td>
                                                    <td class="desc">
                                                        <h5>
                                                            <a asp-page="/Customer/Course/Detail" asp-route-id="@detail.Course.Id" class="text-navy">
                                                                @detail.Course.Name
                                                            </a>
                                                        </h5>
                                                        <dl class="m-b-none mt-4">
                                                            <dt>Level: <span class="prod-auth">@detail.Course.Level</span></dt>
                                                        </dl>
                                                        <dl class="m-b-none">
                                                            <dt>Material: <span class="prod-auth">@detail.Course.Material</span></dt>
                                                        </dl>
                                                        <div class="m-t-sm">
                                                            <a asp-page="Cart" asp-route-removeId="@detail.Id" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                        </div>
                                                    </td>
                                                    @if (detail.Course.DiscountPrice is not null)
                                                    {
                                                        <td>
                                                            <s class="text-muted">@detail.Course.OriginalPrice</s>
                                                        </td>
                                                        <td>
                                                            <h5>
                                                                @detail.Course.DiscountPrice
                                                            </h5>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <h5> @detail.Course.OriginalPrice</h5>
                                                        </td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                        <div class="ibox-content">
                            <a href="/Customer/Course/List" class="tbl-exam p-2"><i class="bi bi-arrow-bar-left"></i> Continue browsing</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Total
                            </span>
                            <h4 class="font-bold mt-1">
                                @Model.Total VND
                            </h4>
                            <hr>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <form method="post" class="mt-20">
                                        <input type="hidden" name="total" value="@Model.Total"/>
                                        <button type="submit" class="tmp-add-cart add-cart p-3">
                                            <i class="bi bi-cart-fill"></i> <b>Check out</b>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <h5><i class="fa fa-phone"></i> 321 325 5678</h5>
                            <span class="small mt-1">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="/css/cart.css">
}